
img {
	max-width: 95%;
	transition: all .5s ease-in-out;
}

@media (prefers-color-scheme: dark) {
	body {
		background: $body-color;
		color: $body-bg;
	}
}


@include media-breakpoint-up(md) {
	img {
		max-width: 636px;
	}
}
