
$primary:                             #A92B7A;
$body-max-width:                      2000px;

$nav-bg:                              rgba($white, 0.8);
$nav-bg-filter:                       saturate(180%) blur(20px);
$nav-height:                          56px;

$header-bg-imgs: (
  xs: url(../img/masthead-xs.png),
  sm: url(../img/masthead-sm.png),
  md: url(../img/masthead-md.png),
  lg: url(../img/masthead-lg.png),
  xl: url(../img/masthead-xl.png)
);
$header-pts: (
  xs: 281px - $nav-height,
  sm: 270px - $nav-height,
  md: 349px - $nav-height,
  lg: 422px - $nav-height,
  xl: 480px - $nav-height
);


$navbar-color:                        $black;
$navbar-hover-color:                  $black;
