body {
  max-width: $body-max-width;
}

header {
  background-repeat: no-repeat;
}

nav {
  background-color: $nav-bg;
  -webkit-backdrop-filter: $nav-bg-filter;
  backdrop-filter: $nav-bg-filter;
  
  .nav-link {
    color: $navbar-color;
    
    @include hover-focus() {
      color: $navbar-hover-color;
    }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    header {
      background-image: map-get($header-bg-imgs, $breakpoint);
      padding-top: map-get($header-pts, $breakpoint);
    }
  }
}

